@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the width and height of the images in the gallery */
.gallery-image {
  width: 100%;
  height: auto;
}

* {
  scroll-behavior: smooth;
}

body {
  @apply font-sans;
}

.nav-menu a {
  @apply cursor-pointer text-[22px] pb-5 md:pb-10 md:pl-10 uppercase hover:underline hover:text-[#9C0E5B];
}
